.logo {
  color: var(--primary);
  font-size: 2.4rem;
  padding-bottom: 0.4rem;
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 11;
  padding: 0px 60px;
  width: 100%;
  height: var(--header-height);
  background-color: var(--navbar-color);
  backdrop-filter: blur(5px);
  transition: var(--transition);
  transition: top 0.2s ease-in-out;
}

.header-hidden {
  top: calc(-1 * var(--header-height));
}

.header-sticky {
  position: fixed;
  backdrop-filter: blur(5px);
  background-color: var(--navbar-translucent-color);
}

.logo-and-list-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* position the logo to the left and the list items to the right */
  width: 100%;
}

.ul {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .ul {
    display: none;
  }
}

.li {
  margin: 0 1.4rem;
}

.link {
  color: var(--text);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  transition: var(--transition);
}

.link:hover {
  color: var(--primary);
}
